{% extends '_base.html' %}
{% load static %}

{% block title %}
    books list
{% endblock title %}

{% block content %}
{% include 'components/simple_search.html' %}
  <div style="display: flex; ">
    <div style="width: 25%; border-right: solid 1px black;">

      {% for a in '1234'|make_list %}
      <h3 style="margin-bottom: 0;">test</h3>
        <ul id="{{a}}" style="margin-top: 0;">
          <li>check</li>
          <li>check</li>
          <li>check</li>
          <li>check</li>
        </ul>
      {% endfor %}
        
    </div>
    <div style="flex: 1; padding: 20px;">
      <label for="1a"> all books</label>
      <div id="1a" style="display: flex; flex-wrap: wrap; justify-content: center; gap: 25px; border: 1px gray solid; padding-top: 10px;">
        {% for book in context.books %}
        {% include 'components/simple_card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock content %}
