<header style="display: flex; justify-content: center;border-bottom: solid 1px black; padding: 5px;">
    <form action="" style="display: flex; height: 37px;">
        <select name="category_e" style="text-align: center;">
            <option value="all" >all</option>
            <option value="history">history</option>
            <option value="science">science</option>
        </select>
        <input name="title_contains" value="{{context.search}}" type="text" style="width: 250px;">
        <button type="submi">Q</button>
    </form>
</header>
